.programtext p{
    line-height: 1.7;
}

.Home{
    width: 100vw;
    min-height: 100vh;
    background: hwb(238 81% 0%);
    transition: 0.8s;
}
.dark .vocationalcenters h3{
    color:antiquewhite;
}
