.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    flex-basis: 56%;
}
.about img{
    width: 100%;
    border-radius: 10px;
}
.about-right h2, h3{
    color: darkblue;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  .about p, ol{
    font-size: medium;
    background: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
  }
  .about p h2{
    text-align: center;
  }


  /* ---- Media Query ----- */

  @media  screen and (max-width: 800px){
    .about{
      flex-direction: column;
    }
    .about-left{
      flex-basis: 100%;
      margin: 20px;
      /*order: 2;*/
    }
    .about-right{
      flex-basis: 100%;
    }
  }